@tailwind base;
@tailwind components;
@tailwind utilities;

.toast-light {
  background: #fff !important;
  color: #000 !important;
}

.toast-dark {
  background: #383838 !important;
  color: #fff !important;
}